page-wardrobe-my-wardrobe {
    ion-grid{
        height: 100%;

        ion-row{
            height: 25%;
        }

        ion-card {
            position: relative;
            text-align: center;
            max-height: 100%;
            width: 100% !important;
            margin: 0 !important;
        }

        .card-title {
            position: absolute;
            top: 70%;
            font-size: 1.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }
    }
}