 // или завернуть все в .thing-list {}

ion-card.thing-preview {
    width: calc(25% - 1rem);
}
@media (max-width: 800px) {
    ion-card.thing-preview {
        width: calc(50% - 1rem);
    }
}

ion-card.thing-preview {
    float: left;
    border-radius: 1.5rem;
    margin: 0.5rem;
    /*width: 25%; TODO: 2-4 responsitive column*/
    /*min-width: calc( 150px);*/

    ion-item {
        min-height: 3rem;
    }

    ion-card-content {
        padding: 0.7rem;
    }

    button {
        margin: 0 !important;
    }

    ion-icon.like {
        color: red;
    }
    ion-icon.favorite {
        color: gold;
    }
} 