<ion-header>

  <ion-navbar><!--hideBackButton-->
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon> 
    </button>
    <ion-title>{{selectedCategory.name}}</ion-title>
  </ion-navbar>

</ion-header>

<button ion-button icon-only clear class="hanger" (click)="addon()">
  <img src="assets/img/hanger.png">
</button>

<ion-content padding class="thing-list">
  <ion-card *ngFor="let thing of things">
    <ion-item>
      <button ion-button item-left clear icon-only (click)="like(thing)">
        <ion-icon name="{{ thing.like ? 'heart' : 'heart-outline' }}" class="like" isActive="{{ thing.like }}"></ion-icon>
      </button>
      <!--<ion-icon name="heart icon-md-danger" isActive="{{ thing.like }}"></ion-icon>-->
      <button ion-button item-right clear icon-only (click)="favorite(thing)">
        <ion-icon name="{{ thing.favorite ? 'star' : 'star-outline' }}" class="favorite" isActive="{{ thing.favorite }}"></ion-icon>
      </button>
      <!--<ion-icon name="star" isActive="{{ thing.favorite }}" (click)="favorite(thing)"></ion-icon>-->
    </ion-item>

    <img src="{{thing.img}}">

    <ion-card-content *ngIf="thing.tags">
      <p>{{thing.tags}}</p>
    </ion-card-content>
  </ion-card>
  
</ion-content>




